/Deploy-Static-Website-on-AWS/infrastructure/.terraform
/Deploy-a-high-availability-web-app-using-CloudFormation/infrastructure/.terraform
/Operationalizing-CoWorking-Space-Service/infrastructure/pipeline/.terraform
/Operationalizing-CoWorking-Space-Service/infrastructure/pipeline/terraform.tfstate
